<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="AddExistingIssue" class="com.example.RulesService.AddExistingIssue">
        <property name="k">
            <ref bean="savedataclient" />
        </property>
    </bean>

    <bean id="savedataclient" class="com.example.client.SaveDataClient" />


    <!--<bean id="RulesServiceController" class="com.example.RulesService.AddExistingIssue">
        <property name="k">
            <ref bean="fetchdataclient" />
        </property>
    </bean>

    <bean id="fetchdataclient" class="com.example.client.FetchDataClient" />-->


</beans>